accelerate==1.12.0
datasets==4.4.1
evaluate==0.4.6
einops==0.8.1
h5py==3.15.1
imageio==2.37.2
kornia==0.8.2
kornia_rs==0.1.10
lightning==2.6.0
matplotlib==3.10.7
matplotlib-inline==0.2.1
monai==1.5.1
nibabel==5.3.3
numpy==2.2.6
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
opt-einsum==3.4.0
protobuf==6.33.2
requests==2.32.5
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.8.0
scipy==1.16.3
termcolor==3.2.0
timm==1.0.22
torch-geometric==2.7.0
torch-summary==1.4.5
torchmetrics==1.8.2
torchsummary==1.5.1
tqdm==4.67.1
typing_extensions==4.15.0
wandb==0.23.1
